<template>
  <SettingGroup name="Farben">
      <Setting vuexGetterName="settings/colors/getSnakeHead" for="snakeHead">
        <BaseColorInput name="snakeHead" v-model="snakeHead"/>
      </Setting>
      <Setting vuexGetterName="settings/colors/getSnakePart" for="snakePart" v-if="displaySnakePartColorSetting">
          <BaseColorInput name="snakePart" v-model="snakePart"/>
      </Setting>
      <Setting vuexGetterName="settings/colors/getSnakeText" for="snakeText" v-if="displaySnakeTextColorSetting">
          <BaseColorInput name="snakeText" v-model="snakeText"/>
      </Setting>
      <Setting vuexGetterName="settings/colors/getMatrixField" for="matrixField">
          <BaseColorInput name="matrixField" v-model="matrixField"/>
      </Setting>
      <Setting vuexGetterName="settings/colors/getGridGap" for="gridGap">
          <BaseColorInput name="gridGap" v-model="gridGap"/>
      </Setting>
      <Setting vuexGetterName="settings/colors/getFood" for="food">
        <BaseColorInput name="food" v-model="food"/>
      </Setting>
      <Setting vuexGetterName="settings/colors/getActualDesign" for="actualDesign">
        <select name="actualDesign" v-model="actualDesign"><!-- Durch BaseNumberSelectionInput ersetzen nachdem dieser angepasst wurde -->
          <option v-for="(design, index) in designs" :key="index" :value="design.name">{{design.name}}</option>
        </select>
      </Setting>
    </SettingGroup>
</template>
<script>
import Setting from '../Setting.vue'
import SettingGroup from '../SettingGroup.vue'
export default {
  components: {
    Setting,
    SettingGroup
  },
  computed: {
    snakeHead: {
      get: function () { return this.$store.getters['settings/colors/getSnakeHeadValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setSnakeHead', value) }
    },
    snakePart: {
      get: function () { return this.$store.getters['settings/colors/getSnakePartValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setSnakePart', value) }
    },
    snakeText: {
      get: function () { return this.$store.getters['settings/colors/getSnakeTextValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setSnakeText', value) }
    },
    matrixField: {
      get: function () { return this.$store.getters['settings/colors/getMatrixFieldValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setMatrixField', value) }
    },
    food: {
      get: function () { return this.$store.getters['settings/colors/getFoodValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setFood', value) }
    },
    actualDesign: {
      get: function () { return this.$store.getters['settings/colors/getActualDesignValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setActualDesignByName', value) }
    },
    gridGap: {
      get: function () { return this.$store.getters['settings/colors/getGridGapValue'] },
      set: function (value) { this.$store.dispatch('settings/colors/setGridGap', value) }
    },
    designs () { return this.$store.getters['settings/colors/getDesigns'] },
    displaySnakePartColorSetting () { return this.$store.getters['settings/snake/getAppearanceValue'] !== 1 },
    displaySnakeTextColorSetting () {
      return this.$store.getters['settings/snake/getAppearanceValue'] === 2
    }
  }
}
</script>
<style scoped>
</style>
