<template>
  <SettingGroup name="Feld">
      <Setting vuexGetterName="settings/field/getWidth" for="fieldWidth">
        <SettingNumberInput vuexGetterName="settings/field/getWidth" name="fieldWidth" v-model="fieldWidth"/>
      </Setting>
      <Setting vuexGetterName="settings/field/getHeight" for="fieldHeight">
        <SettingNumberInput vuexGetterName="settings/field/getHeight" name="fieldHeight" v-model="fieldHeight"/>
      </Setting>
      <Setting vuexGetterName="settings/field/getGridGap" for="fieldGridGap">
        <SettingNumberInput vuexGetterName="settings/field/getGridGap" name="fieldGridGap" type="range" v-model="fieldGridGap"/>
      </Setting>
      <Setting vuexGetterName="settings/field/getInfiniteField" for="infiniteField">
        <input type="checkbox" name="infiniteField" v-model="infiniteField"/><!-- ersetzen durch BaseCheckBox -->
      </Setting>
    </SettingGroup>
</template>
<script>
import Setting from '../Setting.vue'
import SettingGroup from '../SettingGroup.vue'
import SettingNumberInput from '../SettingNumberInput.vue'

export default {
  components: {
    Setting,
    SettingGroup,
    SettingNumberInput
  },
  computed: { // Through the parsing step, it is possible that the settings include invalid values link NaN
    fieldWidth: {
      get: function () { return this.$store.getters['settings/field/getWidthValue'] },
      set: function (value) { this.$store.dispatch('settings/field/setWidth', parseInt(value)) }
    },
    fieldHeight: {
      get: function () { return this.$store.getters['settings/field/getHeightValue'] },
      set: function (value) { this.$store.dispatch('settings/field/setHeight', parseInt(value)) }
    },
    fieldGridGap: {
      get: function () { return this.$store.getters['settings/field/getGridGapValue'] },
      set: function (value) { this.$store.dispatch('settings/field/setGridGap', parseFloat(value)) }
    },
    infiniteField: {
      get: function () { return this.$store.getters['settings/field/getInfiniteFieldValue'] },
      set: function (value) {
        this.$store.dispatch('settings/field/setInfiniteField', value)
      }
    }
  }
}
</script>
<style scoped>
</style>
