<template>
  <SettingGroup name="Spielsteuerung">
    <Setting vuexGetterName="settings/control/getControlNr" for="controlNr">
        <BaseNumberSelectionInput name="controlNr" v-model="controlNr" :autoFillArr="getAutoFillArrControlType" />
    </Setting>
    <Setting vuexGetterName="settings/control/getStartGameMethode" for="startGameMethode">
        <BaseNumberSelectionInput name="startGameMethode" v-model="startGameMethode" :autoFillArr="getAutoFillArrStartGameMethode"/>
    </Setting>
  </SettingGroup>
</template>
<script>
import Setting from '../Setting.vue'
import SettingGroup from '../SettingGroup.vue'
import { StartGameSelection, ControlType } from '../../../scripts/SettingSelectionConstants'
export default {
  components: {
    Setting,
    SettingGroup
  },
  computed: {
    controlNr: {
      get: function () { return this.$store.getters['settings/control/getControlNrValue'] },
      set: function (value) { this.$store.dispatch('settings/control/setControlNr', value) }
    },
    startGameMethode: {
      get: function () { return this.$store.getters['settings/control/getStartGameMethodeValue'] },
      set: function (value) { this.$store.dispatch('settings/control/setStartGameMethode', value) }
    },
    getAutoFillArrStartGameMethode () { return StartGameSelection },
    getAutoFillArrControlType () { return ControlType }
  }
}
</script>
<style scoped>
</style>
