<template>
  <SettingGroup name="Schlange">
    <Setting vuexGetterName="settings/snake/getSpeed" for="speed">
      <SettingNumberInput
        vuexGetterName="settings/snake/getSpeed"
        name="speed"
        type="range"
        v-model="speed"
      />
    </Setting>
    <Setting vuexGetterName="settings/snake/getGrowthRate" for="growthRate">
      <SettingNumberInput
        vuexGetterName="settings/snake/getGrowthRate"
        name="growthRate"
        v-model="growthRate"
      />
    </Setting>
    <Setting
      vuexGetterName="settings/snake/getBeginningLength"
      for="beginningLength"
    >
      <SettingNumberInput
        vuexGetterName="settings/snake/getBeginningLength"
        name="beginningLength"
        v-model="beginningLength"
      />
    </Setting>
    <Setting
      vuexGetterName="settings/snake/getStartDirection"
      for="startDirection"
    >
      <BaseNumberSelectionInput name="startDirection" v-model="startDirection" :autoFillArr="getAutoFillArrStartDirection" />
    </Setting>
    <Setting
      :vuexGetterName="getSnakeSetting('getAppearance')"
      for="appearance"
    >
      <BaseNumberSelectionInput name="appearance" v-model="appearance" :autoFillArr="getAutoFillArrAppearance"/>
    </Setting>
    <Setting
      :vuexGetterName="getSnakeSetting('getText')"
      for="text"
      v-if="displaySnakeText"
    >
      <BaseInput name="text" v-model="text"/>
    </Setting>
  </SettingGroup>
</template>
<script>
import Setting from '../Setting.vue'
import SettingGroup from '../SettingGroup.vue'
import SettingNumberInput from '../SettingNumberInput.vue'
import { SnakeAppearance, StartDirection } from '../../../scripts/SettingSelectionConstants'
export default {
  components: {
    Setting,
    SettingGroup,
    SettingNumberInput
  },
  computed: {

    speed: {
      get: function () { return this.$store.getters['settings/snake/getSpeedValue'] },
      set: function (value) { this.$store.dispatch('settings/snake/setSpeed', parseFloat(value)) }
    },
    growthRate: {
      get: function () {
        return this.$store.getters['settings/snake/getGrowthRateValue']
      },
      set: function (value) {
        this.$store.dispatch('settings/snake/setGrowthRate', parseInt(value))
      }
    },
    beginningLength: {
      get: function () { return this.$store.getters['settings/snake/getBeginningLengthValue'] },
      set: function (value) {
        this.$store.dispatch(
          'settings/snake/setBeginningLength',
          parseInt(value)
        )
      }
    },
    startDirection: {
      get: function () { return this.$store.getters[this.getSnakeSetting('getStartDirectionValue')] },
      set: function (value) { this.$store.dispatch('settings/snake/setStartDirection', value) }
    },
    appearance: {
      get: function () { return this.$store.getters['settings/snake/getAppearanceValue'] },
      set: function (value) { this.$store.dispatch('settings/snake/setAppearance', value) }
    },
    text: {
      get: function () { return this.$store.getters['settings/snake/getTextValue'] },
      set: function (value) { this.$store.dispatch('settings/snake/setText', value) }
    },
    getAutoFillArrAppearance () { return SnakeAppearance },
    getAutoFillArrStartDirection () { return StartDirection },
    displaySnakeText () {
      return this.$store.getters['settings/snake/getAppearanceValue'] === 2
    }
  },
  methods: {
    getSnakeSetting (settingGetter) {
      return 'settings/snake/' + settingGetter
    }
  }
}
</script>
<style scoped>
</style>
