<template>
    <svg viewBox="0 0 200 200">
        <g>
            <path
            style="stroke-width:3.40158"
            d="M 26.872864,40.946687 2.8207144,64.99883 74.978917,137.15703 99.031063,161.21094 195.24141,64.99883 171.18926,40.946687 99.031063,113.10489 Z" />
        </g>
    </svg>

</template>
