<template>
    <svg class="symbol" viewBox="0 0 2050 2050">
        <path class="cls-2" d="M1155.4,1392.7a45.1,45.1,0,0,1-31.8-13.2L928.9,1184.8l-58,58a81.4,81.4,0,0,1-139-57.6V826a81.6,81.6,0,0,1,81.4-81.5h359.2a81.5,81.5,0,0,1,57.6,139.1l-58,58,194.7,194.7a44.9,44.9,0,0,1,0,63.6l-179.6,179.6A45,45,0,0,1,1155.4,1392.7ZM928.9,1076.1a44.8,44.8,0,0,1,31.8,13.2L1155.4,1284l116-115.9L1076.6,973.4a45.2,45.2,0,0,1,0-63.7l75.3-75.2h-330v330l75.2-75.2A44.8,44.8,0,0,1,928.9,1076.1Z"/>
    </svg>

</template>
<style scoped>
    .symbol{
        transform: rotateZ(-45deg) scale(1.7);
    }
</style>
