<template>
    <svg viewBox="0 0 24 24">
    <g>
        <g>
            <g id="menu-arrow-circle-2">
                <rect class="cls-1" width="24" height="24" transform="translate(24 24) rotate(180)"/>
                <path class="cls-2" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"/>
                <path class="cls-2" d="M12,6A3.5,3.5,0,0,0,8.5,9.5a1,1,0,0,0,2,0A1.5,1.5,0,1,1,12,11a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V12.84A3.49,3.49,0,0,0,12,6Z"/>
                <circle class="cls-2" cx="12" cy="17" r="1"/>
            </g>
        </g>
    </g>
    </svg>
</template>
<style scoped>
    .cls-1{
        opacity:0;
    }
</style>
