<template>
    <svg version="1.1" x="0px" y="0px" viewBox="0 0 499.233 499.233" style="enable-background:new 0 0 499.233 499.233;" xml:space="preserve">
    <g>
        <path d="M249.617,0C111.917,0,0,111.917,0,249.617s111.917,249.617,249.617,249.617s249.617-111.917,249.617-249.617
            S387.317,0,249.617,0z M249.617,465.233c-119,0-215.617-96.617-215.617-215.617S130.617,34,249.617,34
            s215.617,96.617,215.617,215.617S368.617,465.233,249.617,465.233z"/>
        <path d="M192.667,139.117c-9.35,0-17,7.65-17,17v178.5c0,9.35,7.65,17,17,17c9.35,0,17-7.65,17-17v-178.5
            C209.667,146.767,202.017,139.117,192.667,139.117z"/>
        <path d="M308.833,139.117c-9.35,0-17,7.65-17,17v178.5c0,9.35,7.65,17,17,17s17-7.65,17-17v-178.5
            C325.833,146.767,318.183,139.117,308.833,139.117z"/>
    </g>
</svg>

</template>
