<template>
    <svg version="1.1" x="0px" y="0px" viewBox="0 0 499.233 499.233" style="enable-background:new 0 0 499.233 499.233;" xml:space="preserve">
    <g>
        <path d="M383.067,234.883l-203.15-117.3c-5.383-3.117-11.617-3.117-17,0c-5.383,3.117-8.5,8.783-8.5,14.733v234.317
            c0,5.95,3.117,11.617,8.5,14.733c2.55,1.417,5.667,2.267,8.5,2.267c2.833,0,5.95-0.85,8.5-2.267l202.867-117.3
            c5.383-3.117,8.5-8.783,8.5-14.733S388.167,238,383.067,234.883z M188.417,337.45V161.783l151.867,87.833L188.417,337.45z"/>
        <path d="M249.617,0C111.917,0,0,111.917,0,249.617s111.917,249.617,249.617,249.617s249.617-111.917,249.617-249.617
            S387.317,0,249.617,0z M249.617,465.233c-119,0-215.617-96.617-215.617-215.617S130.617,34,249.617,34
            s215.617,96.617,215.617,215.617S368.617,465.233,249.617,465.233z"/>
    </g>
    </svg>
</template>
