<template>
    <BaseSvgButton @click.native="pressBack" tooltipText="zurück" tooltipPosition="bottom"><BackSymbol /></BaseSvgButton>
</template>
<script>
import { Sections } from './../../scripts/Constants'
import BackSymbol from './../Symbols/BackSymbol.vue'
export default {
  components: {
    BackSymbol
  },
  methods: {
    pressBack () {
      this.$store.dispatch('setMainSection', Sections.start)
    }
  }
}
</script>
