<template>
  <span class="btn-wrapper">
    <ArrowDownSymbol class="symbol" />
  </span>
</template>
<script>
import ArrowDownSymbol from './../Symbols/ArrowDownSymbol.vue'
export default {
  components: {
    ArrowDownSymbol
  },
  props: {
  },
  data: function () {
    return {
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>
<style scoped>
  .btn-wrapper{

    --btn-bg: var(--secondary-bg-color);
    --btn-font-color: var(--primary-font-color);

    width: 100%;
    background-color: var(--btn-bg);
    border: 0.1em solid var(--btn-font-color);
    color: var(--btn-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .symbol{
    width: 70%;
    transform: rotateZ(-45deg);
  }
</style>
