<template>
    <BaseSvgButton @click.native="showHelp" :tooltipText="title" :tooltipPosition="tooltipPosition"><HelpSymbol /></BaseSvgButton>
</template>
<script>
// import { Sections } from './../../scripts/Constants'
import HelpSymbol from './../Symbols/HelpSymbol.vue'
import { HelpDialogTexts } from './../../scripts/Constants'
export default {
  components: {
    HelpSymbol
  },
  props: {
    subtitle: {
      type: String,
      default: null
    },
    text: {
      type: String,
      default: null
    },
    preset: {
      type: String,
      default: null
    },
    title: {
      type: String,
      default: 'Hilfe'
    },
    tooltipPosition: {
      type: String,
      default: 'top'
    }
  },
  data: function () {
    return {
      subtitle_data: this.subtitle,
      text_data: this.text
    }
  },
  created () {
    if (this.preset !== null) this.usePreset()
  },
  methods: {
    showHelp () {
      this.$store.dispatch('dialog/setMainTitle', this.title)
      this.$store.dispatch('dialog/setSubTitle', this.subtitle_data)
      this.$store.dispatch('dialog/setText', this.text_data)
      this.$store.dispatch('dialog/setOpen', true)
    },
    usePreset () {
      const preset = HelpDialogTexts[this.preset]
      this.text_data = preset.text
      this.subtitle_data = preset.subtitle
    }
  }
}
</script>
