<template>
    <BaseSvgButton @click.native="showSettings" tooltipText="Einstellungen"><SettingSymbol /></BaseSvgButton>
</template>
<script>
import { Sections } from './../../scripts/Constants'
import SettingSymbol from './../Symbols/SettingSymbol'
export default {
  components: {
    SettingSymbol
  },
  methods: {
    showSettings () {
      this.$store.dispatch('setMainSection', Sections.settings)
    }
  }
}
</script>
