<template>
    <BaseSvgButton @click.native="startGame" tooltipText="Spiel starten"><PlaySymbol /></BaseSvgButton>
</template>
<script>
import { Sections } from './../../scripts/Constants'
import PlaySymbol from './../Symbols/PlaySymbol'
export default {
  components: {
    PlaySymbol
  },
  methods: {
    startGame () {
      const invalidSettings = this.$store.getters['settings/getInvalidSettings']

      if (invalidSettings.length !== 0) this.showInvalidSettingsDialog(invalidSettings)

      this.$store.dispatch('setMainSection', Sections.game)
    },
    showInvalidSettingsDialog (invalidSettings) {
      let invalidSettingsString = ''
      let invalidSettingsActualValue = ''
      for (let i = 0; i < invalidSettings.length; i++) {
        const actual = invalidSettings[i]
        invalidSettingsString += actual.name
        invalidSettingsActualValue += actual.name + ': ' + actual.value + '\n'
        if (i !== invalidSettings.length - 1) invalidSettingsString += ', '
      }

      this.$store.dispatch('dialog/setMainTitle', 'Einstellungen sind ungültig', { root: true })
      this.$store.dispatch('dialog/setSubTitle', 'Einstellungen: ' + invalidSettingsString, { root: true })
      this.$store.dispatch('dialog/setText', 'Diese Einstellungen sind ungültig und werden verworfen und nicht angewendet\n\nAktuelle Werte:\n' + invalidSettingsActualValue, { root: true })
      this.$store.dispatch('dialog/setOpen', true, { root: true })

      this.$store.dispatch('settings/clearInvalidSettings')
    }
  }
}
</script>
