<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta property="og:locale" content="de_DE">
  <meta property="og:type" content="game">
  <meta property="og:title" content="Snake">
  <meta property="og:description"
    content="Spiele den Klassiker snake mit vielen verschiedenen spannenden Einstellungsmöglichkeiten">
  <!-- 
  <meta property="og:url" content="">
  <meta property="og:site_name" content="webdeasy.de">
  <meta property="article:published_time" content="2019-09-30T16:46:53+00:00">
  <meta property="article:modified_time" content="2019-10-17T08:45:24+00:00">
  <meta property="og:image" content="https://webdeasy.de/wp-content/uploads/2019/09/nextcloud-17.png">
  <meta property="og:image:width" content="1400">
  <meta property="og:image:height" content="600">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  -->
  <meta name="description"
    content="Spiele den Klassiker snake mit vielen verschiedenen spannenden Einstellungsmöglichkeiten">
  <meta name="keywords" content="snake, Snake, Schlange, Spiel, Klassiker">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>