<template>
  <button class="button-wrapper tooltip">
    <slot />
    <span v-if="existTooltipText" class="tooltiptext" :style="tooltipArrowPosition">{{ tooltipText }}</span>
  </button>
</template>
<script>
export default {
  props: {
    tooltipText: {
      type: String,
      default: null
    },
    tooltipPosition: {
      type: String,
      default: 'top'
    }
  },
  computed: {
    existTooltipText () {
      return this.tooltipText !== null
    },
    tooltipArrowPosition () {
      let arrowTop = null
      let arrowLeft = null
      let rotate = 1
      let arrowTranslateY = 0
      let arrowTranslateX = 0
      let textBottom = null
      let textLeft = null
      let textTranslateY = 0
      let textTranslateX = 0

      switch (this.tooltipPosition) {
        case 'top':
          arrowTop = 100
          arrowLeft = 50
          rotate = 1
          textBottom = 125
          textLeft = 50
          break
        case 'bottom':
          arrowTop = 0
          arrowLeft = 50
          arrowTranslateY = -100
          rotate = 3
          textBottom = -75
          textLeft = 50
          textTranslateY = 50
          break
        case 'left':
          arrowTop = 50
          arrowLeft = 100
          arrowTranslateY = -50
          arrowTranslateX = 50
          rotate = 4
          textBottom = 50
          textLeft = -25
          textTranslateX = -50
          textTranslateY = 50
          break
        case 'right':
          arrowTop = 50
          arrowLeft = 0
          arrowTranslateX = -50
          arrowTranslateY = -50
          rotate = 2
          textBottom = 50
          textLeft = 125
          textTranslateX = 50
          textTranslateY = 50
          break
      }

      let ret = ''
      ret += '--tooltip-arrow-position-top: ' + arrowTop + '%;'
      ret += '--tooltip-arrow-position-left: ' + arrowLeft + '%;'
      ret += '--tooltip-arrow-translateY: ' + arrowTranslateY + '%;'
      ret += '--tooltip-arrow-translateX: ' + arrowTranslateX + '%;'
      ret += '--border-color: '
      for (let i = 1; i < 5; i++) {
        if (i === rotate) ret += 'var(--button-font-color) '
        else ret += 'transparent '
      }
      ret += ';'
      ret += '--tooltip-text-position-left: ' + textLeft + '%;'
      ret += '--tooltip-text-position-bottom: ' + textBottom + '%;'
      ret += '--tooltip-text-translateY: ' + textTranslateY + '%;'
      ret += '--tooltip-text-translateX: ' + textTranslateX + '%;'

      return ret
    }
  }
}
</script>
<style scoped>
.button-wrapper {
  --button-font-color: var(--primary-font-color);
  --button-border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-radius: var(--button-border-radius);
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid var(--button-font-color);
  color: var(--button-font-color);
  box-shadow: 0.1em 0.1em 0.1em var(--button-font-color);
}
.button-wrapper:hover,
.button-wrapper:focus {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  box-shadow: 0.1em 0.1em 0.1em inset var(--button-font-color);
  transform: scale(0.95);
}
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 8em;
  bottom: var(--tooltip-text-position-bottom);
  left: var(--tooltip-text-position-left);
  transform: translateY(var(--tooltip-text-translateY)) translateX(var(--tooltip-text-translateX));
  color: var(--button-font-color);
  border: 0.1em solid var(--button-font-color);
  border-radius: var(--button-border-radius);
  text-align: center;
  padding: 0.5em 0.2em;
  margin-left: -4em;
  z-index: 1;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: var(--tooltip-arrow-position-top);
  left: var(--tooltip-arrow-position-left);
  transform: translateY(var(--tooltip-arrow-translateY)) translateX(var(--tooltip-arrow-translateX));
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--border-color);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
