<template>
  <input class="input-wrapper"
    :value="value"
    @input="$emit('input', $event.target.value)"
  />
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  }
}
</script>
<style scoped>
    .input-wrapper{
      max-width: 25%;
    }
</style>
