<template>
    <input
        type="checkbox"
        :value="value"
        @input="$emit('change', returnValue($event))"
    >
</template>

<script>
// https://vuejs.org/v2/guide/components-custom-events.html
export default {
  props: {
    value: {
      type: Boolean
    }
  },
  methods: {
    returnValue (e) {
      console.log(e.target.value)
      console.log(this.value)
      console.log((e.target.value === 'true'))
      if (e.target.value === 'true') return (e.target.value === 'true')
      else return e.target.value
    }
  }
}
</script>
