<template>
    <select :value="value" @input="$emit('input',  parseInt($event.target.value))" v-if="autoFillCom">
        <option  v-for="(selection, index) in arr" :key="index" :value="index">{{selection.name}}</option>
    </select>
    <select :value="value" @input="$emit('input',  parseInt($event.target.value))" v-else>
        <slot/>
    </select>
</template>
<script>
export default {
  props: {
    value: {
      type: Number,
      default: 1
    },
    autoFill: {
      type: Boolean,
      default: true
    },
    autoFillArr: {
      type: Array
    }
  },
  computed: {
    autoFillCom () {
      return this.autoFill
    },
    arr () {
      return this.autoFillArr
    }
  }
}
</script>
<style scoped>
  select {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

</style>
