<template>
    <input
        :type="this.type"
        :value="value"
        :step="step"
        @input="$emit('input', returnValue($event))"
        :style="inputWidth"
    >
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 0
    },
    step: {
      type: Number,
      default: 1
    },
    type: {
      type: String,
      default: 'Number'
    }
  },
  methods: {
    checkNumberIfFloat (value) {
      return Number(value) === value && value % 1 !== 0
    },
    returnValue (e) {
      if (Number.isSafeInteger(this.step)) return parseInt(e.target.value)
      else if (this.checkNumberIfFloat(this.step)) return parseFloat(e.target.value)
      else return e.target.value
    }

  },
  computed: {
    inputWidth () {
      if (this.type === 'Number') {
        const digits = String(this.value).replace('.', '').length
        return 'width: ' + (4 + digits) + 'ch;'
      } else return ''
    }
  }
}
</script>

<style scoped>
    input{
        --input-font-color: var(--primary-font-color);
        --input-bg-color: var(--primary-bg-color);
        --input-focus-border-color: var(--secondary-bg-color);

        color: var(--input-font-color);
        background-color: var(--input-bg-color);
        font-size: 1em;
        border: 0.1em solid var(--input-font-color);
        border-radius: 5px;
        padding: 0.5em;
    }
    input:hover{
      cursor: pointer;
    }
    input:focus{
        border-color: var(--input-focus-border-color);
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--input-font-color);
        opacity: 0.5; /* Firefox */
    }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--input-font-color);
        opacity: 0.5;
    }

    input::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--input-font-color);
        opacity: 0.5;
    }
</style>
