<template>
    <input
        type="color"
        :value="value"
        @input="$emit('input', $event.target.value)"
    >
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
    input{
        --input-font-color: var(--primary-font-color);
        --input-bg-color: var(--primary-bg-color);
        --input-focus-border-color: var(--secondary-bg-color);

        color: var(--input-font-color);
        background-color: var(--input-bg-color);
        font-size: 1em;
        border: 0.1em solid var(--input-font-color);
        border-radius: 5px;
    }
    input:focus{
        border-color: var(--input-focus-border-color);
    }
    input:hover{
      cursor: pointer;
    }
</style>
