<template>
  <div class="dialog-wrapper" :class="{open: open}" ref="dialogWrapper">
    <div class="dialog-content">
      <div class="dialog-header">
        <span class="close" @click="close">&times;</span>
        <h2 class="mainTitle">{{mainTitle}}</h2>
        <h4 class="subTitle">{{subTitle}}</h4>
      </div>
      <div class="dialog-body">
        <p v-for="(line, index) in text.split('\n')" :key="index">
            {{line}}<br>
        </p>
      </div>
      <div class="dialog-footer">
        <h3></h3>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  model: {
    prop: 'open',
    event: 'change'
  },
  props: {
    open: {
      type: Boolean
    }
  },
  data: function () {
    return {
    }
  },
  mounted () {
    // When the user clicks anywhere outside of the dialog-content, close it
    window.onclick = (event) => {
      if (event.target === this.$refs.dialogWrapper) {
        this.close()
      }
    }
  },
  computed: {
    text () { return this.$store.getters['dialog/getText'] },
    mainTitle () { return this.$store.getters['dialog/getMainTitle'] },
    subTitle () { return this.$store.getters['dialog/getSubTitle'] }
  },
  methods: {
    close () {
      // event open = flase
      this.$emit('change', false)
    }
  }
}
</script>
<style scoped>
  /*This Dialog is inspired by https://www.w3schools.com/howto/howto_css_modals.asp */
  .dialog-wrapper {

    --dialog-bg-color: var(--secondary-bg-color);
    --dialog-secondary-bg-color: var(--primary-bg-color);
    --dialog-font-color: var(--primary-font-color);

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .open{
    display: block;
  }

  /* Modal Content/Box */
  .dialog-content {
    position: relative;
    color: var(--dialog-font-color);
    background-color: var(--dialog-bg-color);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 1em;
    border: 0.1px solid var(--dialog-font-color);
    width: 80%; /* Could be more or less, depending on screen size */

    animation-name: animatetop;
    animation-duration: 0.5s
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  .dialog-header {
    padding: 0.5em;
    border-bottom: 0.2em solid var(--dialog-secondary-bg-color);
  }

  .subTitle{
    padding-top: 1em;
    padding-left: 2em;
  }

  .dialog-body {
    padding: 1em;
  }

  .dialog-footer {
    display: none;
  }

  /* The Close Button */
  .close {
    color: var(--dialog-font-color);
    float: right;
    font-size: 3em;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    transform: scale(1.5);
    text-decoration: none;
    cursor: pointer;
  }
</style>
