<template>
  <span class="panel-wrapper">
      <DirectionButton v-for="(number, index) in arr" :key="index" class="part" :style="varI(number)" @click.native="clickEvent(number)"/>
  </span>
</template>
<script>
import DirectionButton from './Buttons/DirectionButton.vue'
import ControlEventHandler from './../scripts/ControlEventHandler'
export default {
  components: {
    DirectionButton
  },
  props: {
  },
  data: function () {
    return {
      arr: [1, 2, 4, 3],
      controlEventHandler: new ControlEventHandler(this.$store)
    }
  },
  computed: {
    varI () {
      return n => 'transform: rotateZ(' + ((n + 1) * 90) + 'deg);'
    }
  },
  methods: {
    clickEvent (number) {
      let dirString = ''
      switch (number) {
        case 1:
          dirString = 'up'
          break
        case 2:
          dirString = 'right'
          break
        case 3:
          dirString = 'down'
          break
        case 4:
          dirString = 'left'
          break
      }
      this.controlEventHandler.pressControlKey(dirString)
    }
  }
}
</script>
<style scoped>
  .panel-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5em 0.5em;
    transform: rotateZ(45deg);
  }
  .part{

  }
</style>
