<template>
    <div class="field-wrapper" :style="{'--field-height': fieldSize.h, '--field-width': fieldSize.w, '--field-bg-color': fieldBgColor}">
        <Zeile v-for="(zeile, index) in getMatrix" :key="index" :zeile="zeile" class="row"/>
    </div>
</template>

<script>
import Zeile from './Zeile.vue'
import { State } from './../scripts/Constants'
import { getFieldSize, vXToPixel } from './../scripts/functions'
import ControlEventHandler from './../scripts/ControlEventHandler'
export default {
  components: {
    Zeile
  },
  data: function () {
    return {
      starttime: null,
      bodySize: {
        width: null,
        height: null
      },
      controlEventHandler: new ControlEventHandler(this.$store)
    }
  },
  computed: {
    getMatrix () {
      return this.$store.getters['game/getMatrix']
    },
    fieldSize () {
      const controlPanelVisible = this.$store.getters['settings/control/getControlNrValue'] === 2 /* conrol panel */

      const heightLimitInWH = controlPanelVisible ? 50 : 70
      const widthLimitInWW = 90

      const fieldSize = this.$store.getters['settings/field/getSizeValue']

      const maxHeightFromFieldInPx = vXToPixel(heightLimitInWH, this.bodySize.height)
      const maxWidthFromFieldInPx = vXToPixel(widthLimitInWW, this.bodySize.width)

      return getFieldSize(heightLimitInWH, widthLimitInWW, fieldSize, maxHeightFromFieldInPx, maxWidthFromFieldInPx)
    },
    fieldBgColor () {
      return this.$store.getters['settings/colors/getGridGapValue']
    }
  },
  created () {
    this.$store.dispatch('game/startGame')

    this.setUpFallbacksForRAF()
    this.createKeyListeners()
    this.startGameLoop()

    this.getBodySize()
    this.createResizeListener()
  },
  destroyed () {
    document.removeEventListener('keydown', this.controlEventHandler.onKeyEvent)
  },
  methods: {
    createResizeListener () {
      window.addEventListener('resize', this.getBodySize)
    },
    getBodySize () {
      const bodyStyle = window.getComputedStyle(document.body)
      this.bodySize.width = parseFloat(bodyStyle.width.substr(0, bodyStyle.width.length - 2))
      this.bodySize.height = parseFloat(bodyStyle.height.substr(0, bodyStyle.height.length - 2))
      this.$store.dispatch('settings/snake/toggleVar')
    },
    createKeyListeners () {
      document.addEventListener('keydown', this.controlEventHandler.onKeyEvent)
    },
    startGameLoop () {
      // Tips for requestAnimationFrame: http://www.javascriptkit.com/javatutors/requestanimationframe.shtml
      window.requestAnimationFrame(this.loop1)
    },
    loop1 (timestamp) {
      this.starttime = timestamp || new Date().getTime()
      this.loop2(timestamp)
    },
    loop2 (timestamp) {
      if (this.$store.getters['game/getGameState'] === State.stopped) return
      timestamp = timestamp || new Date().getTime()
      const runtime = timestamp - this.starttime
      if (runtime >= 1000 / this.$store.getters['settings/snake/getSpeedValue']) {
        this.$store.dispatch('game/moveSnake')
        window.requestAnimationFrame(this.loop1)
      } else {
        window.requestAnimationFrame(this.loop2)
      }
    },
    setUpFallbacksForRAF () {
      window.requestAnimationFrame = window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function (f) { return setTimeout(f, 1000 / 60) } // simulate calling code 60

      window.cancelAnimationFrame = window.cancelAnimationFrame ||
        window.mozCancelAnimationFrame ||
        function (requestID) { clearTimeout(requestID) } // fall back
    }
  }

}
</script>

<style scoped>
    .field-wrapper{
        /*--i: min(calc(var(--field-height) * 1vw), calc(var(--field-height) * 1vh)); /*different solution for older browsers and firefox android */
        width: var(--field-width);
        height: var(--field-height);
        background-color: var(--field-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
