<template>
  <footer>
      <p>Dieses Spiel wurde von RockSolidG programmiert</p>
      <a href="https://gitlab.com/rocksolidg/snake">Code auf GitLab</a>
  </footer>
</template>

<style scoped>
    footer{

        --link-color: var(--primary-font-color);
        --link-hover-color: var(--primary-accent-color);
        --footer-bg-color: var(--primary-bg-color);
        --footer-border-color: var(--secondary-bg-color);

        max-height: 4em;
        font-size: 0.7em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--footer-bg-color);
        border: 0.1em solid var(--footer-border-color);
        padding: 0.3em;
    }
    p{
        word-wrap: break-word;
        max-width: 60%;
    }
    a{
        word-wrap: break-word;
        text-decoration: none;
        color: var(--link-color);
        font-style: italic;
    }
    a:hover{
        color: var(--link-hover-color)
    }
</style>
