<template>
  <header>
      <div class="snake-headline-container" :style="{'--field-bg-color': fieldBgColor}">
          <Zeile v-for="(zeile, index) in getMatrix" :key="index" :zeile="zeile" class="row" :headerPixel="true"/>
      </div>
  </header>
</template>
<script>
import Zeile from './Zeile.vue'
import MatrixField from './../scripts/MatrixField'
import { ColorSnakePart } from './../scripts/SnakeParts'
export default {
  components: {
    Zeile
  },
  data: function () {
    return {
      matrix: null
    }
  },
  computed: {
    getMatrix () {
      return this.matrix
    },
    fieldBgColor () {
      return this.$store.getters['settings/colors/getGridGapValue']
    },
    getSnakeHeadColor () { return this.$store.getters['settings/colors/getSnakeHeadValue'] },
    getSnakePartColor () { return this.$store.getters['settings/colors/getSnakePartValue'] },
    partTo () {
      return function (pos) {
        this.matrix[pos.y][pos.x] = new ColorSnakePart(this.getSnakePartColor, { y: pos.y, x: pos.x })
      }
    },
    createMatrix () {
      return function () {
      // S
        this.headTo({ y: 1, x: 3 })
        this.partTo({ y: 1, x: 2 })
        this.partTo({ y: 1, x: 1 })
        this.partTo({ y: 2, x: 1 })
        this.partTo({ y: 3, x: 1 })
        this.partTo({ y: 3, x: 2 })
        this.partTo({ y: 3, x: 3 })
        this.partTo({ y: 4, x: 3 })
        this.partTo({ y: 5, x: 3 })
        this.partTo({ y: 5, x: 2 })
        this.partTo({ y: 5, x: 1 })

        // N
        this.headTo({ y: 5, x: 5 })
        this.partTo({ y: 4, x: 5 })
        this.partTo({ y: 3, x: 5 })
        this.partTo({ y: 2, x: 5 })
        this.partTo({ y: 1, x: 5 })
        this.partTo({ y: 2, x: 6 })
        this.partTo({ y: 3, x: 7 })
        this.partTo({ y: 4, x: 8 })
        this.partTo({ y: 5, x: 9 })
        this.partTo({ y: 4, x: 9 })
        this.partTo({ y: 3, x: 9 })
        this.partTo({ y: 2, x: 9 })
        this.partTo({ y: 1, x: 9 })

        // A
        this.headTo({ y: 5, x: 11 })
        this.partTo({ y: 4, x: 11 })
        this.partTo({ y: 3, x: 11 })
        this.partTo({ y: 2, x: 11 })
        this.partTo({ y: 1, x: 11 })
        this.partTo({ y: 1, x: 12 })
        this.partTo({ y: 1, x: 13 })
        this.partTo({ y: 2, x: 13 })
        this.partTo({ y: 3, x: 13 })
        this.partTo({ y: 4, x: 13 })
        this.partTo({ y: 5, x: 13 })
        this.partTo({ y: 3, x: 12 })

        // K
        this.headTo({ y: 1, x: 15 })
        this.partTo({ y: 2, x: 15 })
        this.partTo({ y: 3, x: 15 })
        this.partTo({ y: 4, x: 15 })
        this.partTo({ y: 5, x: 15 })
        this.partTo({ y: 3, x: 16 })
        this.partTo({ y: 2, x: 17 })
        this.partTo({ y: 4, x: 17 })
        this.partTo({ y: 1, x: 18 })
        this.partTo({ y: 5, x: 18 })

        // E
        this.partTo({ y: 1, x: 20 })
        this.partTo({ y: 2, x: 20 })
        this.partTo({ y: 3, x: 20 })
        this.partTo({ y: 4, x: 20 })
        this.partTo({ y: 5, x: 20 })
        this.partTo({ y: 5, x: 21 })
        this.partTo({ y: 5, x: 22 })
        this.partTo({ y: 1, x: 21 })
        this.headTo({ y: 1, x: 22 })
        this.partTo({ y: 3, x: 21 })
        this.partTo({ y: 3, x: 22 })
      }
    }
  },
  created () {
    const matrix = []
    for (let i = 0; i < 7; i++) {
      const array = []
      for (let j = 0; j < 24; j++) {
        array.push(new MatrixField({ y: i, x: j }))
      }
      matrix.push(array)
    }
    this.matrix = matrix
    this.createMatrix()
  },
  methods: {
    headTo (pos) {
      this.partTo(pos)
      this.matrix[pos.y][pos.x].setHead(true)
      this.matrix[pos.y][pos.x].setColor(this.getSnakeHeadColor)
    }
  }
}
</script>
<style scoped>
    header{
        --header-border-color: var(--secondary-bg-color);

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1em solid var(--header-border-color);
    }
    .snake-headline-container{
      width: calc(24/7*(15 - 5)*1vh); /*Verhälltnis von Breite zu Höhe des Feldes (24 Breit, 7 hoch) mal die verfügbare Hohe in vh (15) minus ein bisschen (5) um etwas Platz zu lassen*/
      background-color: var(--field-bg-color);
    }
</style>
