<template>
  <span class="pixel-wrapper">
    <span class="pixel" :style="{'background-color': color, 'margin': gridGap, 'font-size': getPixelSize, 'color': getFontColor}" ref="pixel">
      {{this.letter}}
    </span>
  </span>
</template>

<script>
import { SnakePart, ColorSnakePart, CharSnakePart } from './../scripts/SnakeParts.js'
import Food from './../scripts/Food'
import MatrixField from '../scripts/MatrixField.js'
export default {
  props: {
    matrixField: {
      type: Object,
      required: true
    },
    headerPixel: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      isMounted: false
    }
  },
  computed: {
    getMatrixField () {
      return this.matrixField
    },
    color () {
      const s = this.getMatrixField
      if (!(s instanceof MatrixField)) return
      if (this.headerPixel) {
        let color = ''
        if (s instanceof Food) color = this.$store.getters['settings/colors/getFoodValue']
        else if ((s instanceof SnakePart) && (!s.isHead())) color = this.$store.getters['settings/colors/getSnakePartValue']
        else if ((s instanceof SnakePart) && (s.isHead())) color = this.$store.getters['settings/colors/getSnakeHeadValue']
        else color = this.$store.getters['settings/colors/getMatrixFieldValue']

        return color
      }
      let color = ''
      if (s instanceof Food || s instanceof ColorSnakePart || s instanceof CharSnakePart) color = s.getColor()
      else color = this.$store.getters['settings/colors/getMatrixFieldValue']

      return color
    },
    gridGap () {
      return this.$store.getters['settings/field/getGridGapValue'] + '%'
    },
    letter () {
      const s = this.getMatrixField
      if (!(s instanceof CharSnakePart)) return ''
      return s.getChar()
    },
    getPixelSize () {
      if (!this.isMounted) return ''
      // eslint-disable-next-line no-unused-vars
      const i = this.$store.getters['settings/snake/getToggleVar']
      const pixelStyle = window.getComputedStyle(this.$refs.pixel)
      const height = parseFloat(pixelStyle.height.substring(0, pixelStyle.height.length - 2))
      return height * 0.7 + 'px'
    },
    getFontColor () {
      return this.$store.getters['settings/colors/getSnakeTextValue']
    }
  },
  mounted () {
    this.isMounted = true
  },
  methods: {
  }
}
</script>

<style scoped>
    .pixel-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pixel-wrapper:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .pixel{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
    }
    .pixel:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
</style>
