<template>
  <div class="zeile-wrapper">
      <Pixel v-for="(pixel, index) in getZeile" :key="index" :matrixField="pixel" :headerPixel="headerPixel"/>
  </div>
</template>

<script>
import Pixel from './Pixel.vue'
export default {
  components: {
    Pixel
  },
  props: {
    zeile: {
      type: Array,
      required: true
    },
    headerPixel: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    getZeile () {
      return this.zeile
    }
  }
}
</script>

<style scoped>
    .zeile-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
