<template>
  <div id="app" :style="getDesignStyle">
    <Dialog v-model="dialogOpen"/>
    <Header class="header" />
    <Game class="main-part" v-if="GameIsMainSection" />
    <Start class="main-part" v-else-if="StartIsMainSection" />
    <Settings class="main-part" v-else-if="SettingsIsMainSection" />
    <Footer class="footer" />
  </div>
</template>

<script>
import Game from './components/MainPart/Game.vue'
import Start from './components/MainPart/Start.vue'
import Settings from './components/MainPart/Settings.vue'
import Footer from './components/Footer.vue'
import Header from './components/Header.vue'
import Dialog from './components/Dialog.vue'
import { Sections } from './scripts/Constants'
import { isMobile } from 'mobile-device-detect'

export default {
  name: 'App',
  components: {
    Game,
    Start,
    Settings,
    Footer,
    Header,
    Dialog
  },
  computed: {
    GameIsMainSection () {
      return this.$store.getters.getMainSection === Sections.game
    },
    StartIsMainSection () {
      return this.$store.getters.getMainSection === Sections.start
    },
    SettingsIsMainSection () {
      return this.$store.getters.getMainSection === Sections.settings
    },
    getDesignStyle () {
      const design = this.$store.getters['settings/colors/getDesign']
      return '--primary-accent-color:' + design.primaryAccentColor + ';' +
      '--primary-font-color:' + design.primaryFontColor + ';' +
      '--primary-bg-color:' + design.primaryBgColor + ';' +
      '--secondary-bg-color:' + design.secondaryBgColor + ';'
    },
    dialogOpen: {
      get: function () { return this.$store.getters['dialog/isOpen'] },
      set: function (value) { this.$store.dispatch('dialog/setOpen', value) }
    }
  },
  created () {
    // https://stackoverflow.com/questions/3885817/how-do-i-check-that-a-number-is-float-or-integer/20779354#20779354
    Number.isInteger = Number.isInteger || function (value) {
      return typeof value === 'number' &&
        isFinite(value) &&
        Math.floor(value) === value
    }
    if (!Number.MAX_SAFE_INTEGER) {
      Number.MAX_SAFE_INTEGER = 9007199254740991 // Math.pow(2, 53) - 1;
    }
    Number.isSafeInteger = Number.isSafeInteger || function (value) {
      return Number.isInteger(value) && Math.abs(value) <= Number.MAX_SAFE_INTEGER
    }

    if (isMobile) this.$store.dispatch('settings/control/setControlNr', 3)
  }
}
</script>

<style scoped>
  .header{
    width: 100vw;
    height: 15vh;
  }
  .footer{
    width: 100vw;
    height: 10vh;
  }
  .main-part{
    width: 100vw;
    min-height: 75vh;
  }
</style>

<style>

  *, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *:focus {/*z.B. Chrome hat default outline auf manchen Elementen z.B. input*/
      outline: none;
  }
  html, body{
    width: 100%;
    height: 100%;

  }

  svg{
    width: 100%;
    height: 100%;
    --fill-color: var(--primary-font-color)
  }
  svg *{
      fill: var(--fill-color);
  }

  #app {
    font-family: "Courier New", Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
  }

  .bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.2em;
    padding-left: max(0.2em, 5%);
    padding-right: 0.2em;
    padding-right: max(0.2em, 5%);
  }
  .control-button{
    width: 3em;
    height: 3em;
  }

  .main-part-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
</style>
