<template>
  <div class="main-part-wrapper game-wrapper" v-hammer:swipe="onSwipe">
    <div class="bar">
      <BackToStartButton class="control-button" @click.native="endGame" />
      <div class="control-panel">
        <BaseSvgButton class="control-button play-pause" v-if="!isGameRunning" @click.native="pressPlay" tooltipText="start" tooltipPosition="left"><PlaySymbol /></BaseSvgButton>
        <BaseSvgButton class="control-button play-pause" v-else @click.native="pressPause" tooltipText="pause" tooltipPosition="left"><PauseSymbol /></BaseSvgButton>
        <BaseSvgButton class="control-button" @click.native="pressAgain" tooltipText="neu starten"><AgainSymbol /></BaseSvgButton>
        <HelpButton class="control-button" tooltipPosition="right" preset="game"/>
      </div>
      <span class="score">Länge: {{this.$store.getters['game/getSnake'].length}}</span>
    </div>
    <Feld class="field"/>
    <div class="dir-control-panel-wrapper" v-if="controlPanelVisible">
      <DirectionControlPanel class="dir-control-panel"/>
    </div>
  </div>
</template>

<script>
import Feld from '../Feld.vue'
import PlaySymbol from '../Symbols/PlaySymbol.vue'
import PauseSymbol from '../Symbols/PauseSymbol.vue'
import AgainSymbol from '../Symbols/AgainSymbol.vue'
import BackToStartButton from '../Buttons/BackToStartButton.vue'
import HelpButton from '../Buttons/HelpButton.vue'
import DirectionControlPanel from '../DirectionControlPanel'
import { State, Sections } from '../../scripts/Constants'
import ControlEventHandler from '../../scripts/ControlEventHandler'
export default {
  components: {
    Feld,
    PlaySymbol,
    PauseSymbol,
    AgainSymbol,
    BackToStartButton,
    HelpButton,
    DirectionControlPanel
  },
  data: function () {
    return {
      controlEventHandler: null
    }
  },
  computed: {
    isGameRunning () { return this.$store.getters['game/getGameState'] === State.running },
    fieldKey () { return this.$store.getters['game/getGameState'] },
    controlPanelVisible () { return this.$store.getters['settings/control/getControlNrValue'] === 2 /* conrol panel */ }
  },
  created () {
    if (this.$store.getters['settings/control/getControlNrValue'] === 3 /* swiping */) this.controlEventHandler = new ControlEventHandler(this.$store)
  },
  methods: {
    pressPlay () { this.$store.dispatch('game/setGameState', State.running) },
    pressPause () { this.$store.dispatch('game/setGameState', State.paused) },
    pressAgain () {
      this.$store.dispatch('game/endGame')
      this.$store.dispatch('setMainSection', Sections.start)
      window.requestAnimationFrame(this.startNewGame) // necessary step!
    },
    startNewGame () { this.$store.dispatch('setMainSection', Sections.game) },
    endGame () { this.$store.dispatch('game/endGame') },
    onSwipe (obj) {
      if (this.controlEventHandler == null) return

      const a = [
        { name: 'left', directionConstantFromVueHammer: 2 },
        { name: 'right', directionConstantFromVueHammer: 4 },
        { name: 'up', directionConstantFromVueHammer: 8 },
        { name: 'down', directionConstantFromVueHammer: 16 }
      ]

      a.forEach((item) => { if (item.directionConstantFromVueHammer === obj.direction) this.controlEventHandler.pressControlKey(item.name) })
    }
  }
}
</script>

<style scoped>
    .game-wrapper{
      /*justify-content: center;*/
      --score-color: var(--primary-font-color);
      justify-content: space-around;
    }
    .score{
      background-color: var(--secondary-bg-color);
      color: var(--score-color);
      padding: 0.7em;
      margin: 0.3em;
      border: 0.1em solid var(--score-color);
    }
    .control-panel{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 50%;
    }
    .dir-control-panel-wrapper{
      width: 100%;
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dir-control-panel{
      width: 14vh;
    }
</style>
