<template>
  <div class="main-part-wrapper settings-wrapper">
    <div class="bar">
      <BackToStartButton class="control-button" />
      <h1>Einstellungen</h1>
      <span class="control-button" />
    </div>
    <div class="setting-groups">
      <FieldSettingGroup />
      <SnakeSettingGroup />
      <ColorSettingGroup />
      <GameControlGroup />
    </div>

  </div>
</template>
<script>
import BackToStartButton from '../Buttons/BackToStartButton.vue'
import FieldSettingGroup from '../Settings/SettingGroups/FieldSettingGroup.vue'
import SnakeSettingGroup from '../Settings/SettingGroups/SnakeSettingGroup.vue'
import ColorSettingGroup from '../Settings/SettingGroups/ColorSettingGroup.vue'
import GameControlGroup from '../Settings/SettingGroups/GameControlSettingGroup.vue'
export default {
  components: {
    BackToStartButton,
    FieldSettingGroup,
    SnakeSettingGroup,
    ColorSettingGroup,
    GameControlGroup
  }
}
</script>
<style scoped>
    .settings-wrapper{
      overflow-y: scroll;
      scroll-behavior: smooth;
    }
    h1{
      font-size: 2em;
    }
    @media screen and (max-width: 480px) {
      h1{
        font-size: 1.5em;
      }
    }
</style>
