<template>
  <div class="main-part-wrapper start-wrapper">
      <div class="choise">
        <StartButton class="button" />
        <SettingsButton class="button" />
      </div>
  </div>
</template>
<script>
import SettingsButton from './../Buttons/SettingsButton.vue'
import StartButton from './../Buttons/StartButton.vue'
export default {
  components: {
    SettingsButton,
    StartButton
  }
}
</script>
<style scoped>
    .start-wrapper{

        --start-bg-color: var(--primary-bg-color);

        justify-content: center;
        background-color: var(--start-bg-color);
    }
    .choise{
        width: 100%;
        max-width: 100em;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .button{
        width: 5em;
    }
</style>
