<template>
    <BaseNumberInput :value="value" :type="type" @input="$emit('input', $event)" :min="min" :max="max" :step="step"/>
</template>

<script>
export default {
  props: {
    value: {
      type: Number
    },
    vuexGetterName: {
      type: String
    },
    type: {
      type: String
    }
  },
  computed: {
    min () {
      const a = this.$store.getters[this.vuexGetterName]
      if (a.range == null || a.range.min == null) return null
      return a.range.min
    },
    max () {
      const a = this.$store.getters[this.vuexGetterName]
      if (a.range == null || a.range.max == null) return null
      return a.range.max
    },
    step () {
      const a = this.$store.getters[this.vuexGetterName]
      if (a.step == null) return null
      return a.step
    }
  }
}
</script>
