<template>
  <div class="setting-group-wrapper">
    <div class="head" @click="toggleExtended">
      <h2>{{name}}</h2>
      <ArrowDownSymbol class="symbol" :class="{reverse: extended}"/>
    </div>
    <slot v-if="extended"/>
  </div>
</template>
<script>
import ArrowDownSymbol from '../Symbols/ArrowDownSymbol.vue'
export default {
  components: {
    ArrowDownSymbol
  },
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data: function () {
    return {
      extended: false
    }
  },
  methods: {
    toggleExtended () {
      if (this.extended === true) this.extended = false
      else this.extended = true
    }
  }
}
</script>
<style scoped>
    .setting-group-wrapper{
      display: flex;
      flex-direction: column;
      padding: 1em;
      border: 0.1em solid var(--secondary-bg-color);
      margin: 1em;
      padding-right: 2em;
      max-width: 95vw;
      min-width: 50vw;
    }
    h2{
      padding: 1em;
    }
    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .symbol{
      width: 2em;
      transition: 500ms;
    }
    .reverse{
      transition: 500ms;
      transform: rotate(180deg);
    }
</style>
