<template>
  <div class="setting-wrapper">
      <label :for="forComputed" :style="addPaddingRight">{{setting.name}}</label>
      <slot />
      <HelpButton class="btn" title="Hilfe / Info" :subtitle="setting.name" :text="getHelpText"/>
  </div>
</template>
<script>
import HelpButton from '../Buttons/HelpButton.vue'
import { SettingTypes } from '../../scripts/Constants'
export default {
  components: {
    HelpButton
  },
  props: {
    vuexGetterName: {
      type: String,
      required: true
    },
    for: {
      type: String
    }
  },
  computed: {
    forComputed () {
      return this.for
    },
    setting () {
      return this.$store.getters[this.vuexGetterName]
    },
    getHelpText () {
      let helpText = this.setting.helpText
      if (!(this.setting.type && this.setting.type === SettingTypes.selection && this.setting.allValues)) return helpText

      helpText = helpText + ' \n\n'
      const allValues = this.setting.allValues
      allValues.forEach((value, index) => {
        if (value.description && value.name) {
          helpText = helpText + value.name + ':\n' + value.description
          if (index !== allValues.length - 1) helpText = helpText + '\n\n'
        }
      })

      return helpText
    },
    addPaddingRight () { // only work because of the monospace font!
      const indexOfLastSlash = this.vuexGetterName.lastIndexOf('/')
      const indexOfFirstSlash = this.vuexGetterName.indexOf('/')
      const name = this.vuexGetterName.substring(indexOfFirstSlash + 1, indexOfLastSlash)
      const numberOfLargestCharsInSetting = this.$store.getters['settings/getNumberOfCharsFromLagestNameInSetting'](name)
      return 'padding-right: ' + (numberOfLargestCharsInSetting - this.setting.name.length) + 'ch;'
    }
  }
}
</script>
<style scoped>
    .setting-wrapper{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 1em;
    }
    label{
      margin: 0.5em;
      word-wrap:break-word;
    }
    .btn{
      min-width: 2em;
      width: 2.5em;
    }
    input[type=range]{
      max-width: 32%;
    }
</style>
